.sidebar-sx{
    font-size: 0.7rem;
    img {
        width: 40px;
    }
}

.sidebar-dx {
    font-size: 0.8rem;
}

.nav-link {
    color: #c2c2c2 !important;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72);
    &:hover {
        background-color: rgb(91, 91, 91);
    }
}